@model GameForum.ViewModels.Forum.ForumIndexViewModel


<div class="container">
    <table class="table table-hover"> 
        <tbody>
            @foreach (var forum in Model.ForumList)
            {
            <tr>
                <td>
                    @forum.Title
                </td>
                <td>
                    @forum.Description
                </td>
                <td>
                    @forum.Created
                </td>
            </tr>
            }
        </tbody>
    </table>
    
</div>
