@model GameForum.ViewModels.Forum.ForumIndexViewModel


<div class="container">
    <table class="table table-hover"> 
        <tbody>
            @foreach (var forum in Model.ForumList)
            {
            <tr>
                <td>
                    <a asp-controller="Home" asp-action="Topic" asp-route-id="@forum.Id"> @forum.Title</a>
                </td>
                <td>
                    @forum.Description
                </td>
                <td>
                    @forum.Created
                </td>
            </tr>
            }
        </tbody>
    </table>
    
</div>
